
body{
    margin: 0;
    padding: 0;
    background-color:rgba(210, 218, 219, 0.815);
    font-family: sans-serif;
}
.nav{
    background-color: rgb(221, 190, 15);
    list-style: none;
    text-align:right;
    padding:20px 0 20px 0;
    
    
    
}

.nav> li{
    display:inline-block;
    margin: 0 45px 0 10px;


}
a{
    text-decoration: none;
}
.nav >li >a:hover{
    color:rgb(146, 136, 136);
}
#cv{
    margin:150px;
    background-color:white;
    padding:20px;
    line-height:2em;
    

}
#photo{
    display:inline-block;
    margin:50px;
    vertical-align:middle;
}
#cv-content{
    display:inline-block;
    vertical-align:middle;

}
h1 {
    font-family: sans-serif;
}
.name {
    color:rgb(248, 226, 130);
}
h2 {
    font-size:25px;
    margin:0 40px;
}
td {
margin:0 20px 0 20px;
}
.button{
    font-size:15px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgb(231, 220, 55);
    padding: 10px 50px;
    text-align:center;
    border:1px solid rgb(231, 220, 55) ;
    border-radius:50px;

}
.button:hover{
    background-color:rgb(204, 192, 21);
    color:rgb(95, 93, 93);
}
.social-media{
    position: relative;
    left:370px;
    bottom: 50px;
}
.social-media >li{
    list-style:none;
    font-size:36px;
    display:inline-block;
    margin:0 50px;
}
.social-media >li >a:hover{
       color:rgb(122, 122, 240);
}
